<p style="color: green"><%= notice %></p>

<h1>Charities</h1>

<!-- <div>
<%# bootstrap icon %>
<i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
<%# font awesome icons %>
<i class="fas fa-plus"></i>
<i class="fas fa-basketball-ball"></i>
<i class="far fa-check-square"></i>
</div> -->

<div id="charities">
  <% @charities.each do |charity| %>
    <%= render charity %>
    <p>
      <%= link_to "Show this charity", charity %>
    </p>
  <% end %>
</div>

<%= link_to "New charity", new_charity_path %>
